body{
  background-color: #e0d8c9;
  padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

.injected_hide {
  display: inherit; /* unhide the top level layout */
}

html,
body {
  /* The html and body elements cannot have any padding or margin. */
  height: 100%;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  min-height: 60px;
  background-color: #222;
}

.container .credit {
  margin: 10px 10px 0px 10px;
}

/* Make the long URLs that we display to users display on multiple lines */
.privlyUrl {
  word-wrap: break-word;
}

#post_content {
    background: white;
    border-radius: 6px;
    padding: 13px;
    box-shadow: 4px 5px 0px #8E8980;
}

#post_content p {
  margin: 0;
  word-wrap: break-word;
}

#cleartext {
  height: 100%;
<<<<<<< HEAD
<<<<<<< HEAD
  font-size: 23px;
=======
  font-size: 17px;
>>>>>>> 5528863... Updated the cleartext element
=======
  font-size: 23px;
>>>>>>> 5b863e5... Updated the font-size of the cleartext element
}

@media(min-width: 992px){
  #dashed_hr {
    display: none;
  }
}

#dashed_hr {
  border-top: 3px solid #CCBEA8;
  width: 80%;
  margin-bottom: 50px;
  border-style: dashed;
}

#side_block {
  background: #424242;
  color: white;
  border-radius:0px 6px 6px 6px;
  box-shadow: 0px -5px 0px #2D2D2D;
  padding:13px;
  margin-top: 32px;
  position: relative;
}

#side_block h2 {
    position: absolute;
    margin: 0;
    top: -36px;
    left: 0px;
    font-size: 24px;
    background-color: #2D2D2D;
    padding: 5px;
}

#side_block h3 {
  font-size:13px;
  border-bottom:1px solid #242424;
}

#side_block .glyphicon-floppy-disk {
  color: #B3FFAF;
  margin-right: 5px;
}

#side_block .glyphicon-minus {
  color: #FFAFAF;
  margin-right: 5px;
}

#side_block .glyphicon-pencil {
  color: #FFFEAF;
  margin-right: 5px;
}

#side_block .destroy-button {
  width: 90%;
  margin-left: 5%;
  background: #FFAFAF;
  border: none;
  border-color: #FB8C8C;
  font-weight: bold;
  color: #484848;
  margin-bottom: 10px;
  transition: all 0.5s;
}

#side_block .destroy-button:hover {
  background-color: #FF6161;
}

#side_block .edit-button {
  width: 90%;
  margin-left: 5%;
  background: #FFFEAF;
  border: none;
  border-color: #D4D266;
  font-weight: bold;
  color: #484848;
  margin-bottom: 10px;
  transition: all 0.5s;
}

#side_block .meta_source_domain {
  display: inline-block;
}

#side_block .edit-button:hover {
  background-color: #B5B467;
}

#side_block .topsource {
  background-color: #6F6F6F;
  width: 100%;
  padding-left: 12px;
  height: 30px;
  border-radius: 0 0 10px 10px;
  margin-top: -5px;
  padding-top: 4px;
}

#side_block .meta {
  padding-left: 10px;
  margin-top: 5px;
  border-radius: 5px;
}

#side_block .meta_source_url {
  background-color: #F1F1F1;
  color: black;
  font-size: 13px;
  cursor: pointer;
  max-height: 37px;
  overflow: scroll;
  border-radius: 5px 5px 0 0;
  padding-left: 5px;
  margin-top: 5px;
}

#side_block hr {
  border-style: solid;
  border-width: 4px;
  width: 100%;
  margin-left: -13px;
  padding-right: 18px;
  border-color: #2D2D2D;
  margin-top: 10px;
  margin-bottom: 10px;
}

#side_block .url-container {
  margin-bottom: 0;
}

#step1_message {
  display: block;
  border-bottom: 1px solid #e1e1e1;
  width: 90%;
  margin: 0 auto 5px;
  padding-bottom: 3px;
}

.alert-warning {
  color: #000000;
}

.break_all {
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  display: inline-block;
}
