body{
  background-color: #e0d8c9;
  padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

.injected_hide {
  display: inherit; /* unhide the top level layout */
}

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #222;
}

.container .credit {
  margin: 10px 10px 0px 10px;
}

.privlyUrl {
  word-wrap: break-word;
}

#side_block {
  background:white;
  border-radius:6px;
  padding:13px;
}
#side_block h3 {
  font-size:13px;
  border-bottom:1px solid #242424;
}

#step1_message {
    display: block;
    border-bottom: 1px solid #e1e1e1;
    width: 70%;
    margin: 0 auto 5px;
    padding-bottom: 3px;
}

.flash {
    border: medium none;
    margin: 0.5em auto;
    padding: 0.2em 0.5em;
    text-align: center;
    border-radius: 5px;
}

.notice {
    background-color: #FFFFCC;
}

.alert {
    background-color: #FF8787;
}

.break_all {
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  display: inline-block;
}
