body{
  background-color: #e0d8c9;
  padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

.injected_hide {
  display: inherit; /* unhide the top level layout */
}

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  min-height: 60px;
  background-color: #222;
}

.container .credit {
  margin: 10px 10px 0px 10px;
}

.privlyUrl {
  word-wrap: break-word;
}

#post_content {
    background: white;
    border-radius: 6px;
    padding: 13px;
    box-shadow: 4px 5px 0px #8E8980;
}

#post_content p {
  margin: 0;
  word-wrap: break-word;
}

#cleartext {
  height: 100%;
}

@media(min-width: 992px){
  #dashed_hr {
    display: none;
  }
}

#dashed_hr {
  border-top: 3px solid #CCBEA8;
  width: 80%;
  margin-bottom: 50px;
  border-style: dashed;
}

#message_h2 {
  color: #716652;
  text-align: center;
  font-size: 24px;
}

#side_block {
  background: #424242;
  color: white;
  border-radius:0px 6px 6px 6px;
  box-shadow: 0px -5px 0px #2D2D2D;
  padding:13px;
  margin-top: 32px;
  position: relative;
}

#side_block h2 {
    position: absolute;
    margin: 0;
    top: -36px;
    left: 0px;
    font-size: 24px;
    background-color: #2D2D2D;
    padding: 5px;
}

#side_block h3 {
  font-size:13px;
  border-bottom:1px solid #242424;
}

#step1_message {
    display: block;
    border-bottom: 1px solid #e1e1e1;
    width: 70%;
    margin: 0 auto 5px;
    padding-bottom: 3px;
}

.alert-warning {
  color: #000000;
}

.break_all {
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  display: inline-block;
}
