body, html {
  height: 100%;
  overflow: hidden;
  margin: 0;
  background: transparent;
}

body {
  position: relative;
  background: rgba(0, 0, 0, 0.7);
  color: #FFF;
  font-size: 12px;
  font-family: Seravek, Segoe UI, Verdana, Arial;
}

.posting-select-item {
  line-height: 15px;
  padding: 5px;
  transition: background .1s linear;
  cursor: pointer;
}

.posting-select-item.selected {
  color: #40FFE7;
  background: #26353D;
}

.posting-select-item:hover {
  color: #FFF;
  background: #425B69;
}
