td {
  white-space: nowrap
}

/* Rotate the image that opens a new tab in the Preview column */
td > a > img {
  transform: rotate(90deg);
}

/* Hide td elements but show their <i> child */
td.myHide {
  line-height: 0px;
  text-indent: -99999px;
}
td.myHide > i {
  text-indent: 0px;
  display: block;
}

.display tr {
  line-height: 20px;
}
.display tr.even {
    background-color: #EDE4D4;
}
.display tr.even td.sorting_1 {
    background-color: #E5DCCC;
}
.ui-widget-header {
    background: #111111;
    border: 1px solid #111111;
}
.display tr.odd {
    background-color: #F4F0EC;
}
.display tr.odd td.sorting_1 {
    background-color: #ECE8E4;
}

.dataTables_paginate {
  text-align: left;
}

.paginate_disabled_previous, .paginate_disabled_next {
  display: none;
}

.paginate_enabled_previous, .paginate_enabled_next {
  margin-right: 20px  ;
}

div.dataTables_length label {
  float: left;
  text-align: left;
}

div.dataTables_length select {
  width: 75px;
}

div.dataTables_filter label {
  float: none;
}

div.dataTables_info {
  padding-top: 8px;
}

table.table {
  clear: both;
  margin-bottom: 6px !important;
  max-width: none !important;
}

table.dataTable th:active {
  outline: none;
}

/* Scrolling */
div.dataTables_scrollHead table {
  margin-bottom: 0 !important;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

div.dataTables_scrollHead table thead tr:last-child th:first-child,
div.dataTables_scrollHead table thead tr:last-child td:first-child {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

div.dataTables_scrollBody table {
  border-top: none;
  margin-bottom: 0 !important;
}

div.dataTables_scrollBody tbody tr:first-child th,
div.dataTables_scrollBody tbody tr:first-child td {
  border-top: none;
}

div.dataTables_scrollFoot table {
  border-top: none;
}

/* Header and footer styles */
table.dataTable thead th,
table.dataTable thead td {
  padding: 5px 10px 5px 0px;
  border-bottom: 1px solid #111111;
}

table.dataTable tfoot th,
table.dataTable tfoot td {
  padding: 8px 10px 5px 0px;
  border-top: 1px solid #111111;
}

table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting {
  cursor: pointer;
  *cursor: hand;
}

/* Sorting icons in thead */ 
table.dataTable thead .sorting {
  background: url("../images/sort_both.png") no-repeat center right;
}
table.dataTable thead .sorting_asc {
  background: url("../images/sort_asc.png") no-repeat center right;
}
table.dataTable thead .sorting_desc {
  background: url("../images/sort_desc.png") no-repeat center right;
}
table.dataTable thead .sorting_asc_disabled {
  background: url("../images/sort_asc_disabled.png") no-repeat center right;
}
table.dataTable thead .sorting_desc_disabled {
  background: url("../images/sort_desc_disabled.png") no-repeat center right;
}

/* Cell border */
table.dataTable.cell-border tbody th,
table.dataTable.cell-border tbody td {
  border-top: 1px solid #AAAAAA;
  border-right: 1px solid #AAAAAA;
}
table.dataTable.cell-border tbody tr th:first-child,
table.dataTable.cell-border tbody tr td:first-child {
  border-left: 1px solid #AAAAAA;
}
table.dataTable.cell-border tbody tr:first-child th,
table.dataTable.cell-border tbody tr:first-child td {
  border-top: none;
}

/* Highlight a row when hovered over */
table.dataTable.display tbody tr:hover,
table.dataTable.display tbody tr.odd:hover,
table.dataTable.display tbody tr.even:hover {
  background-color: #C4C4C4;
}

table.dataTable.display tbody tr:hover > .sorting_1,
table.dataTable.display tbody tr.odd:hover > .sorting_1,
table.dataTable.display tbody tr.even:hover > .sorting_1 {
  background-color: #C4C4C4;
}


/* In the modal box historyPreview, move Previous and Next button a bit up, to align perfectly */
#prev_preview{
  position: relative;
  bottom: 8px;      /* no need to make it percentage or relative. 8px works for all resolutions perfectly. Tested. */
}

#next_preview{
  position: relative;
  bottom: 8px;
}

/* So, the previous and next button don't stick up to it in the modal box/light box for history preview */
button.close {
    padding-left: 1%;
}
