<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <!--
      This was likely rendered from the Privly-application templating system
      See: https://github.com/privly/privly-applications/pull/19
     -->

    <title>{{name}}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="This link contains your friend's private content. Click through to read.">
    <meta name="og:description" content="This link contains your friend's private content. Click through to read.">
    <meta name="twitter:description" content="This link contains your friend's private content. Click through to read.">
    
    <!-- Common Styles -->
    <link href="../shared/css/common.css" media="screen" rel="stylesheet"
     type="text/css"/>
    <link href="../shared/css/tooltip.css" media="screen" rel="stylesheet"
     type="text/css"/>
    
    <!-- Shared JavaScripts -->  
    <script type="text/javascript" src="../shared/javascripts/meta_loader.js"></script>
    <script type="text/javascript" src="../shared/javascripts/parameters.js"></script>
    <script type="text/javascript" src="../shared/javascripts/host_page_integration.js"></script>
    <script type="text/javascript" src="../shared/javascripts/network_service.js"></script>
    <script type="text/javascript" src="../shared/javascripts/tooltip.js"></script>
    <script type="text/javascript" src="../shared/javascripts/local_storage.js">
    </script>
    
    <!-- Application Specific JavaScripts -->
    {% block javascripts %}{% endblock %}
    
    <!-- Top Styles, will be added by JS if not viewed in iframe -->
    <meta name="PrivlyTopCSS" content="../vendor/bootstrap/css/bootstrap.min.css;../shared/css/top/top.css"/>
    
    <!-- Injected Styles, will be added by JS if viewed in iframe -->
    <meta name="PrivlyInjectedCSS"
     content="../shared/css/injected/injected.css"/>
     
  </head>
  <body data-privly-exclude="true">
    
    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
    
    <div id="wrap"><!-- for bootstrap footer -->
      <div id="privlyHeightWrapper">
        
        {% include "templates/partials/navigation.html.subtemplate" %}
        
        <div class="container">
          {% block main %}
            <div class="row">
              <div class="col-md-8">
                <div id="edit_form" style="display:none;">
                  <h1>Edit Existing {{name}}</h1>
                  <label for="edit_text">Content</label>
                  <textarea id="edit_text" class="form-control" rows="4"></textarea>
                  <div id="destruction_select_block" style="display:none;">
                   <label for="seconds_until_burn">Time until content is destroyed</label>
                   <select id="seconds_until_burn" name="seconds_until_burn" class="form-control">
                     <option value="" id="current_destruction_time" selected></option>
                     <option value="86400">1 Day</option>
                     <option value="604800">7 Days</option>
                     <option value="1209600">14 Days</option>
                     <option value="2419200">28 Days</option>
                     <option value="">Infinite? - WARNING! Data in Alpha may still be destroyed.</option>
                   </select>
                 </div>
                  <br/>
                  <button id="update" class="btn btn-default">
                     <span class="glyphicon glyphicon-cloud-upload"></span> Update
                   </button>
                   &nbsp;
                   <button id="cancel_button" class="btn btn-default">
                     <span class="glyphicon glyphicon-remove"></span> Cancel
                   </button>
                  <hr/>
                </div>
                <div id="post_content">
                  <div id="cleartext">Privly {{name}} 
                    <img src="../shared/images/ajax-loader.gif" alt="loading"/>
                    <noscript>
                      Your browser has scripting turned off. 
                      This application requires scripting to function properly.
                    </noscript>
                  </div>
                </div>
              </div>

              <div class="col-md-4 injected_hide">
                <div id="side_block">
                  <h2>Metadata</h2>
                  <p class="meta_created_at"></p>
                  <p class="meta_destroyed_around"></p>
                  <p class="meta_updated_at"></p>
                  <p class="meta_candestroy" style="display:none;">
                    You can destroy this content now.
                  </p>
                  <p class="meta_canupdate" style="display:none;">
                    You can update this content.
                  </p>
                  <p class="meta_source_domain"></p>
                  <p>
                    <span class="glyphicon glyphicon-link"></span>
                    Source Link:
                    <span class="meta_source_url break_all"></span>
                  </p>
                </div>
              </div>
            </div>
          {% endblock %}
        </div><!-- /.container -->
        {% if args.platform == "web" %}
        <div id="downloadmessage" class="container" style="display:none;">
          <div class="row">
            <div class="col-xs-12">
              <hr />
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <a data-privly-chrome="https://chrome.google.com/webstore/detail/pkokikcdapfpkkkjpdaamjanniaempol" data-privly-firefox="https://addons.mozilla.org/en-US/firefox/addon/privly/" href="https://">
                <div style="position:relative;width:10em;padding:1em;height:150px">
                  <img alt="Google Chrome Logo" src="../shared/images/chrome-logo_150.png" class="download-extension-img" id="chrome_img">
                  <img alt="Firefox Logo" src="../shared/images/firefox-logo_150.png" class="download-extension-img" id="firefox_img">
                  <img alt="Privly Icon" src="../shared/images/icon_96.png" style="position:absolute;right:33px;top:15px;">
                </div>
              </a>
              </div>
              <div class="col-md-9">
              <h2><span class="referrer"></span></h2>
              <p>
                <a href="https://priv.ly/pages/download">Download</a>
                 the Privly Extension, and you will <strong>see this content instead
                 of the link</strong> that brought you to this page. We don't want
                 you waste your time coming back to this website again.
                 <a href="https://priv.ly/pages/download">Download</a>
                 the extension and you won't have to.
              </p>
              {% endif %}
            </div><!-- /col-md-3 -->
          </div><!-- /row -->
        </div><!-- /container -->
      </div><!-- /privlyHeightWrapper -->
    </div><!-- /wrap -->

    <div id="footer" class="injected_hide">
      <div class="container">
        <p class="text-muted credit">
          <a href="https://www.priv.ly/pages/donate.html" target="_blank">
            <span class="glyphicon glyphicon-gift"></span>
            Donate
          </a>
          to build a more private web.
          You are viewing a
          Privly<span style="vertical-align: super;font-size: xx-small">&reg;</span>
          Application,
          <a href="https://priv.ly/pages/about" target="_blank">learn more</a>
          about Privly.
          <a href="/pages/privacy" target="_blank" class="legal_nav">Terms of Service</a>
          and
          <a href="/pages/privacy" target="_blank" class="legal_nav">DMCA</a>.
        </p>
      </div>
    </div>
  </body>
</html>
